
$pagination-color:                  $black;
// $pagination-bg:                     $custom-gray-light;

$pagination-hover-color:            $white;
$pagination-hover-bg:               $custom-blue;

$pagination-focus-color:            $white;
$pagination-focus-bg:               $custom-blue;
$pagination-focus-box-shadow:       none;

$pagination-active-bg:              $custom-blue;
$pagination-active-border-color:    $white;

