body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
  }

  @keyframes floatUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  
  /* .float-up {
    animation: floatUp 0.8s ease-in-out;
  }
   */